<div class="modal-header bg-primary text-white">
  <h4 class="modal-title">{{dialogInput.title}}</h4>
</div>
<div class="modal-body">
  <form #f="ngForm" novalidate>
    <div class="form-group" *ngIf="dialogInput.data | async as bodyWeight">
      <label for="weight">Weight</label>
      <div class="input-group">
         <input [(ngModel)]="bodyWeight.weight" name="weight" id="weight" type="number" min="30" max="250" class="form-control" required
            #weight="ngModel">
         <span class="input-group-addon">kg</span>
      </div>
      <div *ngIf="weight.touched && weight.invalid" class="alert alert-danger">Please enter the body weight</div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="float-right">
    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="save(f.value)">Save</button>
  </div>
</div>
