/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
// @import "https://fonts.googleapis.com/icon?family=Material+Icons";
// @import "https://fonts.googleapis.com/css?family=Open+Sans";

app-root > .container {
  padding-top: 20px;
}
.alert {
  padding: .5rem .75rem!important;
  font-size: 80%;
}
