@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$custom-primary: mat-palette($mat-blue-grey, 500);
$custom-accent:  mat-palette($mat-red, 300);
// The warn palette is optional (defaults to red).
$custom-warn:    mat-palette($mat-amber);

// Create the theme object (a Sass map containing all of the palettes).
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($custom-theme);


// Define custom typography
$custom-typography: mat-typography-config(
  $font-family: '"Open Sans", "Helvetica Neue", sans-serif'
);
@include mat-base-typography($custom-typography);
