<table class="table table-striped table-sm">
   <thead>
      <tr>
         <th>{{'form-label.date' | translate}}</th>
         <th>{{'body-weight' | translate}}</th>
         <th>
            <span [ngbPopover]="bmiLegend" placement="bottom" triggers="mouseenter:mouseleave">{{'bmi.label' | translate}}
               <span *ngIf="user ? !user.height : false">*</span>
               <i class="fa fa-question-circle text-secondary" aria-hidden="true"></i>
            </span>
         </th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let d of data">
         <td>{{ d.time | localizedDateTime:'shortDate' }} </td>
         <td>{{ d.weight }}</td>
         <td>{{ getBMI(d.weight) }}</td>
         <td class="list-action-buttons">
            <button class="btn btn-danger btn-sm" (click)="delete(d.id)" [title]="'delete' | translate">
               <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
         </td>
      </tr>
   </tbody>
</table>
<ng-template #bmiLegend>
   <div class="bmi-legend">
      <span class="font-weight-bold">{{'bmi.label-long' | translate}}</span>
      <table class="table table-sm bg-light">
         <tr>
            <td>{{'bmi.legend.vsu' | translate }}</td>
            <td>{{'bmi.legend.vsu-long' | translate }}</td>
         </tr>
         <tr>
            <td>{{'bmi.legend.su' | translate }}</td>
            <td>{{'bmi.legend.su-long' | translate }}</td>
         </tr>
         <tr>
            <td>{{'bmi.legend.u' | translate }}</td>
            <td>{{'bmi.legend.u-long' | translate }}</td>
         </tr>
         <tr>
            <td>{{'bmi.legend.n' | translate }}</td>
            <td>{{'bmi.legend.n-long' | translate }}</td>
         </tr>
         <tr>
            <td>{{'bmi.legend.o' | translate }}</td>
            <td>{{'bmi.legend.o-long' | translate }}</td>
         </tr>
         <tr>
            <td>{{'bmi.legend.oi' | translate }}</td>
            <td>{{'bmi.legend.oi-long' | translate }}</td>
         </tr>
         <tr>
            <td>{{'bmi.legend.oii' | translate }}</td>
            <td>{{'bmi.legend.oii-long' | translate }}</td>
         </tr>
         <tr>
            <td>{{'bmi.legend.oiii' | translate }}</td>
            <td>{{'bmi.legend.oiii-long' | translate }}</td>
         </tr>
      </table>
   </div>
</ng-template>
<p *ngIf="user ? !user.height : false">* {{'bmi.footnote' | translate}}</p>