<div class="modal-header bg-primary text-white">
   <h4 class="modal-title">{{dialogInput.title}}</h4>
</div>
<div class="modal-body">
   <form #f="ngForm" novalidate>
      <div class="form-group">
         <label for="firstName">First Name</label>
         <input [(ngModel)]="dialogInput.data.firstName" name="firstName" id="firstName" type="text" class="form-control" #firstName="ngModel"
            required>
         <div *ngIf="firstName.touched && firstName.invalid" class="alert alert-danger">Please specify the users First Name</div>
      </div>
      <div class="form-group">
         <label for="lastName">Last Name</label>
         <input [(ngModel)]="dialogInput.data.lastName" name="lastName" id="lastName" type="text" class="form-control" required #lastName="ngModel">
         <div *ngIf="lastName.touched && lastName.invalid" class="alert alert-danger">Please specify the users Last Name</div>
      </div>
      <div class="form-group">
         <label for="email">Email</label>
         <input [(ngModel)]="dialogInput.data.email" name="email" id="email" type="email" class="form-control" required #email="ngModel">
         <div *ngIf="email.touched && email.invalid" class="alert alert-danger">Please enter the users Email</div>
      </div>
   </form>
</div>
<div class="modal-footer">
   <div class="float-right">
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      <button type="button" (click)="save(f.value)" [disabled]="f.invalid" class="btn btn-primary">Save</button>
   </div>
</div>