<h4>{{title}}</h4>
<div class="row">
   <div class="btn-group btn-group-toggle col" data-toggle="buttons">
      <label class="btn btn-light" [class.active]="tableMode" [routerLink]="['./', {view: 'table'}]">
         <input type="radio" name="viewMode" autocomplete="off">
         <i class="fa fa-table" aria-hidden="true"></i> {{'table' | translate }}
      </label>
      <label class="btn btn-light" [class.active]="!tableMode" [routerLink]="['./', {view: 'chart'}]">
         <input type="radio" name="viewMode" autocomplete="off">
         <i class="fa fa-line-chart" aria-hidden="true"></i> {{'chart' | translate }}
      </label>
   </div>
   <div class="col">
      <button class="btn btn-primary float-right" (click)="addData()" [title]="'add' | translate">
         <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
   </div>
</div>
<div *ngIf="data$ | async as data">
   <spinner *ngIf="!data" [size]="2"></spinner>
   <div *ngIf="data.length>0; else noData">
      <div *ngIf="tableMode">
         <weight-table *ngIf="weightMode" [data]="data" [user$]="user$" (onDelete)="deleteData($event)"></weight-table>
         <circulation-table *ngIf="!weightMode" [data]="data" (onDelete)="deleteData($event)"></circulation-table>
      </div>
      <div *ngIf="!tableMode">
         <weight-chart *ngIf="weightMode" [data]="data"  [user$]="user$"></weight-chart>
         <circulation-chart *ngIf="!weightMode" [data]="data"></circulation-chart>
      </div>
   </div>
   <ng-template #noData>
      <div class="alert alert-primary">{{'no-data' | translate }}</div>
   </ng-template>
</div>