<div *ngIf="data$ | async as circulationData">
   <table *ngIf="circulationData.length>0; else noData" class="table table-striped table-sm" >
      <thead>
         <tr>
            <th>Time</th>
            <th>Blood Pressure</th>
            <th>Heart Rate</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let m of circulationData">
            <td>{{ m.time | date:'short'}} </td>
            <td>{{ m.pressureSystolic }}/{{ m.pressureDiastolic }}</td>
            <td>{{ m.heartRate }}</td>
            <td class="list-action-buttons">
               <button class="btn btn-danger btn-sm" (click)="delete(m)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
               </button>
            </td>
         </tr>
      </tbody>
   </table>
   <ng-template #noData>
      <p>You don't have any data in this section.</p>
   </ng-template>
</div>