<div class="modal-header bg-primary text-white">
   <h4 class="modal-title">{{dialogInput.title}}</h4>
</div>
<div class="modal-body">
   <form #f="ngForm" novalidate>
      <div *ngIf="dialogInput.data | async as circulation">
         <div class="form-group">
            <label for="systolic">{{ 'blood-pressure' | translate }}</label>
   
            <div class="input-group">
               <input [(ngModel)]="circulation.pressureSystolic" name="pressureSystolic" [placeholder]="'systolic' | translate" id="systolic" type="number" class="form-control"
                  #pressureSystolic="ngModel">
               <span class="input-group-addon">mmHg</span>
            </div>
            <div class="input-group">
               <input [(ngModel)]="circulation.pressureDiastolic" name="pressureDiastolic" [placeholder]="'diastolic' | translate" id="diastolic" type="number" class="form-control"
                  #pressureDiastolic="ngModel">
               <span class="input-group-addon">mmHg</span>
            </div>
         </div>
   
         <div class="form-group">
            <label for="pulse">{{ 'heart-rate' | translate }}</label>
            <div class="input-group">
               <input [(ngModel)]="circulation.heartRate" name="heartRate" [placeholder]="'heart-rate' | translate" id="pulse" type="number" class="form-control" #heartRate="ngModel">
               <span class="input-group-addon">BpM</span>
            </div>
         </div>
      </div>
   </form>
</div>
<div class="modal-footer">
   <div class="float-right">
      <button type="button" class="btn btn-secondary" (click)="cancel()">{{'cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="save(f.value)" autofocus>{{'save' | translate}}</button>
   </div>
</div>